/*.directory {
    box-sizing: border-box;
    position: absolute;
    margin-left: 3px;
    margin-right: 3px;
    border-style: none;
    width: calc(100% - 6px);
    outline-width: 0px;
}
*/


.restrictor {
    margin-left: 3px;
    border-width: 1px;
    border-radius: 5px;
    padding: 1px 3px;
    border-style: solid;
    border-color: gray;
    color: rgba(0, 0, 0, 0.75);
    background-color: white;
    bottom: 10px;
    position: absolute;
    width: 80%;
    height: 15px;
    box-shadow: 3px 5px 12px 3px rgba(136, 136, 136, 0.55);
    transition: width 0.3s, height 0.3s, opacity 0.3s;
}


.restrictorHide {
    width: 0;
    height: 0;
    opacity: 0;
}
/*

.selected .exif {
    color: darkorange;
}
*/
