:root {
    --background-color: white;
    --color: rgba(0, 0, 0, 0.75);
    --selected-bg-color: rgb(0, 122, 204);
    --selected-bg-hover-color: #0063ff;
    --selected-color: white;
    --separator-color: lightgray;
    --scrollbar-border-color: lightgray;
    --scrollbar-button-hover-color: #ddd;
    --scrollbar-button-active-color: #aaa;
    --scrollbar-border-color: #eee;
    --scrollbar-image-color: #666;
    --scrollbar-grip-hover-color: #bbb;
    --scrollbar-grip-active-color: #999;
    --commander-item-hover: aliceblue;
    --grip-color: #dcdcdc;
}
